.faq-pg{
    h3{
        margin-bottom: 100px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 10px; 
        }
    }
    .g-col{
        @include justify-content(space-between);
    }
    .one-half{
        width: 40%;
        @media only screen and (max-width: 1024px) {
            width: 100%;
        }
    }
    .acc-ans p{
        @media only screen and (max-width: 1024px) {
            margin: 0;
        }
    }
}

.privacy-pg{
    .sec-title{
        font-size: 30px;
        line-height: 36px;
        color: #333;
        margin-bottom: 30px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }
    .content-block{
        font-size: 16px;
        line-height: 24px;
        color: #595656;
        font-weight: 400;
        letter-spacing: 0.5px; 
        @media only screen and (max-width: 1024px) {
            padding-left: 0;
        }
        p, span, strong{   
            font-size: 16px;
            line-height: 24px;
            color: #595656;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-bottom: 26px; 
        }
        p{
            strong{
                font-weight: 600;
            }
        }
        span, strong{
            display: block;
        }
    }
}
.case-studies-img-block{
    display: inline-block; 
    width: 100%; 
    min-height: 360px; 
    border-radius: 18px;
    background-size: cover !important; 
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ddd; 
    @media only screen and (max-width: 1024px) {
        min-height: 268px; 
    }   
}
.faq-pg{
    ul{
        li{
            font-size: 12px;
            line-height: 20px;
            color: #8D8788;
            margin-bottom: 0;
            text-align: left;  
            margin-bottom: 5px;
        }
    }
    .acc-ans{
        strong{
            color: #595656;
        }
    } 
    p{
        a{
            font-size: 12px;
            line-height: 20px; 
        }
    }
}


.downloal-page{
    h3 {
        font-size: 64px;
        line-height: 70px;
        letter-spacing: 0.5px;
        margin-bottom: 30px;
        @media only screen and (max-width: 1024px) {
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 20px;
            text-align: center;
        }
        @media only screen and (max-width: 450px) {
            font-size: 30px;
            line-height: 34px;
            margin-bottom: 20px;
            text-align: center;
        }
        br{
            @media only screen and (max-width: 1024px) {
                display: none;
            }
        }
    }
    .drop-down{
        margin-bottom: 25px; 
        .selected a{
            width: 100%;
            max-width: 390px;
            line-height: 26px;
            vertical-align: middle;
            background-color: transparent;
            height: 26px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &::before{
                top: 18px;
            }
            @media only screen and (max-width: 1024px) {
                margin: 0 auto 20px;
            }
            @media only screen and (max-width: 450px) {
                margin: 0 auto 20px;
                max-width: 280px; 
            }
        }
        .options{
            ul{
                width: auto;
                max-width: 420px;
                top: 55px;
                left: 0; 
            }
        }
    } 
    .radio-button-block{
        margin-bottom: 30px;
    }
    .flex-start{
        @include align-items(flex-start);
    }
    .tools-download-info-holder{
        padding: 30px;
        margin-bottom: 30px;  
        border: 1px solid $org-col;
        @media only screen and (max-width: 1024px) {
            padding: 20px;
            margin-bottom: 20px;
        }
    }
    .link{
        text-decoration: underline;
        color: $org-col;
        &:hover{
            color: $dark-org-col;
        }
    }
    .flex-start{
        .tmc-text{
            text-align: left; 
            @media only screen and (max-width: 1024px) {
                text-align: center;
            }
        }
    }
    
}
.tools-download-info-block{
    h5{
        margin-bottom: 20px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 10px;
        }
    }
    .bullet-list{
        padding-left: 25px;
        @media only screen and (max-width: 1024px) {
            padding: 0;
        }
        li{
            font-size: 16px;
            line-height: 24px;
            color: #6B6D70;
            @media only screen and (max-width: 1024px) {
                display: inline-block;  
            }
        }
    }    
}